@import "src/variables.scss";

.form-label {
  color: $accent-color;

  &__required {
    color: $secondary-color;
  }
}

.input {
  &__error {
    color: $secondary-color;
    text-align: start;
    margin: .5em 0 0 0;
  }
}
