<section class="d-flex justify-content-center navbar gap-2em">
  <img src="/assets/logo-md.png" alt="Fabrick logo" class="logo" *ngIf="!isMobile">

  <button type="button" type="menu" class="btn btn-primary" aria-label="Home" routerLink="/">
    Home
  </button>
  <button type="button" type="menu" class="btn btn-primary" aria-label="Register" routerLink="/register"
    *ngIf="!(storeService.loggedUser$ | async)">
    Register
  </button>
  <button type="button" type="menu" class="btn btn-primary" aria-label="Profile" routerLink="/profile"
    *ngIf="storeService.loggedUser$ | async">
    My Profile
  </button>
</section>
