<div class="user-details" [ngClass]="isMobile ? 'd-flex-col' : 'row align-items-start'">
  <div class="d-flex-col gap-1em col-2 justify-content-center">
    <img src="/assets/user.png" alt="User icon" aria-details="User icon" class="user-details__icon">
    <button class="btn btn-primary edit-button" type="button" aria-label="Disable profile"
      [ngClass]="{'w-100 mt-1em': isMobile}" (click)="toggleProfileEnabled()" *ngIf="!isDisabledProfile">
      <i class="edit-button__icon bi bi-exclamation-triangle"></i>
      Disable my profile
    </button>
    <button class="btn btn-primary edit-button" type="button" aria-label="Enable profile"
      [ngClass]="{'w-100 mt-1em': isMobile}" (click)="toggleProfileEnabled()" *ngIf="isDisabledProfile">
      <i class="edit-button__icon bi bi-check2-square"></i>
      Enable my profile
    </button>
  </div>
  <form [formGroup]="form" class="user-details__fields col-8" [ngClass]="isMobile ? 'd-flex-col align-items-start gap-1em mt-1em' : 'row user-details__fields--desktop'">
    <p class="fields__label col-2">
      <strong [ngClass]="{'fields__label--block': !isMobile}">ID: </strong>
      <span>{{user.id}}</span>
    </p>
    <ng-container *ngIf="!isEdit; else editMode">
      <p class="fields__label col-2">
        <strong [ngClass]="{'fields__label--block': !isMobile}">Name: </strong>
        <span>{{user.name}}</span>
      </p>
      <p class="fields__label col-2">
        <strong [ngClass]="{'fields__label--block': !isMobile}">Email: </strong>
        <span>{{user.email}}</span>
      </p>
      <p class="fields__label col-2">
        <strong [ngClass]="{'fields__label--block': !isMobile}">Gender: </strong>
        <span>{{user.gender | titlecase}}</span>
      </p>
    </ng-container>
    <ng-template #editMode>
      <fb-input formControlName="name" [label]="'Name'" [placeholder]="'Type here'" [isRequired]="true"
        [errorTooltip]="fullNameErrorLabel" class="col-2"></fb-input>
      <fb-input formControlName="email" [label]="'Email'" [placeholder]="'your.email@email.com'" [isRequired]="true"
        [errorTooltip]="emailErrorLabel" class="col-2"></fb-input>
      <fb-select formControlName="gender" [label]="'Gender'" [placeholder]="'Select your gender'" [isRequired]="true" [options]="genders"
        formControlName="gender" class="col-2"></fb-select>
    </ng-template>
    <p class="fields__label col-2">
      <strong [ngClass]="{'fields__label--block': !isMobile}">Status: </strong>
      <span>{{user.status | titlecase}}</span>
    </p>
  </form>
  <div class="actions d-flex-row gap-1em col-2 justify-content-center">
    <ng-container *ngIf="isEdit; else editButton">
      <button class="btn btn-primary edit-button" type="button" aria-label="Cancel"
        [ngClass]="isMobile ? 'w-100 mt-1em' : 'ml-1em'" (click)="toggleEdit()">
        <i class="edit-button__icon bi bi-trash"></i>
        Cancel
      </button>
      <button class="btn btn-primary edit-button" type="button" aria-label="Save" [disabled]="form.invalid"
        [attr.aria-disabled]="form.invalid"
        [ngClass]="isMobile ? 'w-100 mt-1em' : 'ml-1em'" (click)="updateUser()">
        <i class="edit-button__icon bi bi-floppy"></i>
        Save
      </button>
    </ng-container>
    <ng-template #editButton>
      <button class="btn btn-primary edit-button" type="button" aria-label="Edit profile"
        [ngClass]="isMobile ? 'w-100 mt-1em' : 'ml-1em'" (click)="toggleEdit()">
        <i class="edit-button__icon bi bi-pencil-square"></i>
        Edit
      </button>
    </ng-template>
  </div>
</div>
