<div class="d-flex-col justify-content-center align-items-center w-100">
  <h1 class="welcome-text">Welcome</h1>

  <div class="fade-in-top d-flex-col align-items-center">
    <h4>{{(storeService.loggedUser$ | async) ? 'Navigate our website' : 'Start your journey with us'}}</h4>
    <div class="actions gap-2" [ngClass]="{'w-100': isMobile, 'd-flex-col': isMobile, 'd-flex-row': !isMobile}">
      <button class="btn btn-primary" type="button" routerLink="/register" aria-label="Register"
        *ngIf="!(storeService.loggedUser$ | async)">Register</button>
      <button class="btn btn-primary" type="button" routerLink="/profile" aria-label="Profile"
        *ngIf="storeService.loggedUser$ | async">Profile</button>
    </div>
  </div>
</div>
