@import "src/variables.scss";

.form-select {
  cursor: pointer;

  &__placeholder {
    color: $disabled-color;
  }
}

.form-label {
  color: $accent-color;

  &__required {
    color: $secondary-color;
  }
}

