<label [for]="uniqueId" class="form-label" *ngIf="label" [attr.aria-details]="label">
  {{label}}
  <span *ngIf="isRequired" class="form-label__required">*</span>
</label>
<select class="form-select" aria-label="Default select example" [formControl]="value" [attr.aria-label]="label" [attr.aria-required]="isRequired">
  <option class="form-select__placeholder" [ngValue]="null">{{placeholder}}</option>
  <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
</select>
