@import "src/variables.scss";

.welcome-text {
  color: $accent-color;
  font-weight: bold;
  font-size: 4em;
  margin-top: 1em;
  text-align: center;
  z-index: 1;
  background-color: $primary-color;
  width: 100%;

  animation: focus-in-contract 1s linear 0s 1 normal none;

  @keyframes focus-in-contract {
    0% {
      letter-spacing:1em;
      filter:blur(12px);
      opacity:0;
    }
    100% {
      filter:blur(0);
      opacity:1;
    }
  }
}

.fade-in-top {
  opacity:0;
  animation: fade-in-top .7s linear 1s 1 normal none;
  animation-fill-mode: forwards;
  z-index: 0;

  @keyframes fade-in-top {
		0% {
			transform:translateY(-50px);
			opacity:0;
		}
		100% {
			transform:translateY(0);
			opacity:1;
		}
	}
}
